﻿@model DoAnCoSo.Models.KhachHang

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<div style="padding-left:100px;">
    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@

        <div class="form-horizontal">
            <h4>Đăng ký</h4>
            <hr />
            @Html.ValidationSummary(false)

            <div class="form-group">
                @Html.LabelFor(model => model.HoTen, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HoTen)
                    <span id="loiHoTen"></span>
                    @Html.ValidationMessageFor(model => model.HoTen)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgaySinh, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.NgaySinh)
                    @Html.ValidationMessageFor(model => model.NgaySinh)
                </div>
                <span id="loiNgaySinh"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GioiTinh, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GioiTinh)
                    @Html.ValidationMessageFor(model => model.GioiTinh)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DienThoai, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DienThoai)
                    @Html.ValidationMessageFor(model => model.DienThoai)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TaiKhoan, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TaiKhoan)
                    @Html.ValidationMessageFor(model => model.TaiKhoan)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MatKhau, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MatKhau)
                    @Html.ValidationMessageFor(model => model.MatKhau)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChi)
                    @Html.ValidationMessageFor(model => model.DiaChi)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnSubmit" type="submit" value="Đăng ký" class="btn btn-group-vertical" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Trở về","Index","Home")
    </div>
</div>
