﻿@using DoAnCoSo.Models;
@model List<Sach>
<link href="~/Content/TrangChu.css" rel="stylesheet" />
@{
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    ViewBag.Title = "Index";
}
@section NoiDungBenPhai{
    <div>
        Giới thiệu
        Waka là kho sách điện tử, truyện tranh, bài viết tạp chí phong phú về thể loại, đa dạng về nội dung.

        Kho sách của Waka liên tục được cập nhật, bổ sung bởi các nhà sách, nhà xuất bản, các tác giả trong và ngoài nước với đầy đủ các thể loại như truyện ngắn, tiểu thuyết, sách kinh doanh, sách giáo trình và các tác phẩm kinh điển, các tác phẩm “best seller” trên thị trường.

        Ứng dụng Waka tương thích với hầu hết các thiết bị đọc từ các trình duyệt trên máy tính cá nhân (PC, laptop) cho đến các hệ điều hành như iOS, Android, WindowPhone trên điện thoại thông minh (smartphone).

        Sách và thông tin đọc sách của người dùng được đồng bộ tự động trên các thiết bị. Điều đó có nghĩa rằng bạn có thể đọc cuốn sách bạn yêu thích bất cứ nơi đâu, bất cứ khi nào và trên bất kì thiết bị nào. Đặc biệt với khả năng đọc Offline, người dùng Waka có thể đọc sách ngay cả khi không có internet.
    </div>
    }
<div id="divBody">
    @{int i = 0; }
    @foreach (var item in Model)
    {
        i++;
        <div id="SanPham">
            <a href="@Url.Action("XemChiTiet", "Sach", new { @MaSach=item.MaSach })">  <div id="AnhBia"><img src="@Url.Content("~/HinhAnh/AnhSach/"+item.AnhBia)" width="100" height="150" /></div></a>
            <div id="ThongTin">
                @*Nếu tên sách dài hơn 30 ký tự thì chúng ta sẽ cắt tên sách ra lấy từ ký tự 0 đến ký tự 35*@
                @if (item.TenSach.Length < 35)
                {
                    <div id="TenSach" title="@item.TenSach">@item.TenSach.</div>
                }
                else
                {
                    <div id="TenSach" title="@item.TenSach"> @item.TenSach.Substring(0, 35) ...</div>
                }
                </div>
        </div>
        if (i % 3 == 0)
        {
            <div style="clear:both"></div>
        }
     }

</div>
