﻿@using DoAnCoSo.Models
@model List<GioHang>
@{
    ViewBag.Title = "SuaGioHang";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h2>Giỏ hàng của bạn</h2>
<table id="divGioHang">
    <tr>
        <td>Mã sách</td>

        <td>Tên sách</td>

        <td>Ảnh bìa</td>

        <td>Đơn giá</td>


        <td>Số lượng</td>

        <td>Thành tiền</td>
    </tr>


    @foreach (var item in Model)
    {

        <tr>
            <td>@item.iMaSach</td>

            <td>@item.sTenSach</td>

            <td><img src="@Url.Content("~/HinhAnh/AnhSach/"+item.sAnhBia)" width="50" height="50" /></td>

            <td>
                @String.Format("{0:0,0}", item.dDonGia) VNĐ
            </td>
            @*Chỉnh sửa giỏ hàng gọi về action CapNhatGioHang*@
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMaSP = item.iMaSach }))
            {
                <td>@Html.TextBox("txtSoLuong", item.iSoLuong) </td>




                <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>
                <td>
                    <input type="submit" value="Cập nhật" />
                    <br />
                    @*Xóa giỏ hàng gọi về Action XoaGioHang*@
                    @Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSP = item.iMaSach })
                </td>
            }

            <td></td>
        </tr>

    }
</table>
@*Css giỏ hàng*@
<style>
    #divGioHang {
        border: 1px solid #EEEEEE;
        margin-left: 10%;
    }

        #divGioHang td {
            padding: 10px;
            border: 1px solid #EEEEEE;
        }
</style>

