﻿/**chỉnh độ rộng toàn trang*/
div#ToanTrang{
    position:relative;
}
/*thiết kế đăng ký dăng nhập*/
.DangKyDangNhap{
    float:right;
    margin-top:-1%;/**chỉnh cân bằng đăng nhập*/
    
}
/*Bỏ gạch chân và thêm màu(CSS)*/
.DangKyDangNhap a:hover{
    text-decoration:none;
    color:green;
}
.DienThoai{
    float:left;
    margin-top:-1%;
}
#divDanhMuc{
    height:30px;
}
.Menu{
    float :right;
}
.Menu li{
    display:inline;
    border-right:solid 1px rgba(0,0,0,.5);
    padding:20px;
    padding-top:21px;
    padding-bottom:22px;

}
.Menu li:hover{
    text-decoration:none;
    color:green;
    background-color:rgba(0,0,0,.5);
}
#txtfind{
    float:left;
    margin-left:5%;
}
#txtfind input{
    height:0px;

}
#slider{
    float:right;
    width:950px;
    height:350px;
}
#slider img{
    width:950px;
    height:350px;
}
#MenuTrai{
    float:left;
}
/*div nhà xuất bản*/
#divLeft{
    width:30%;
    float:left;
}
#divLeft .item{
    width:100%;    
}
#divRight{
    float:right;
    width:70%;

}