﻿@using DoAnCoSo.Models;
@*đưa kiểu dữ liệu vào danh sách*@
@model List<Sach>
<h1 class="item-header">Mục Lục</h1>
@{
    foreach (var item in Model)
    {
        @*Đưa hình ảnh + dữ liệu lên web*@
        <div class="activity-list-update">
            <img src="@Url.Content("~/HinhAnh/AnhSach/"+item.AnhBia)" width="50" height="50" />
            @if (item.TenSach.Length > 30)
            {
                <p><strong title="@item.TenSach">Tiêu đề: @item.TenSach.Substring(0, 30)...</strong><br /><a href="@Url.Action("XemChiTiet", new { @masach = item.MaSach })">Xem chi tiết</a></p>
            }
            else
            {
                <p><strong title="@item.TenSach">Tiêu đề: @item.TenSach</strong><br /><a href="@Url.Action("XemChiTiet", new { @masach = item.MaSach })">Xem chi tiết</a></p>
                <div class="clear"></div>
            }
        </div>
    }
}



<a href="#" class="item-footer green">
    Sách loại mới nhất
</a>
