﻿@using DoAnCoSo.Models;
@model List<NhaXuatBan>
<link href="~/Content/TrangChu.css" rel="stylesheet" />
@{
    ViewBag.Title = "DanhMucNXB";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
@foreach (var item in Model)
{
    <a id="btnChuDe" style="width: 250px; font-size: 11pt; color: aliceblue; background-color:#0855bd; text-decoration: none" href="@Url.Action("SachTheoNXB", new {@MaChuDe=item.MaNXB })" class="button button-submit"> @item.TenNXB</a>
}


