﻿@using DoAnCoSo.Models;
@model List<NhaXuatBan>


@foreach (var item in Model)
{
    <div class="itemNXB"><i class="fa fa-book"></i><a href="@Url.Action("SachTheoNXB", new { @MaNXB=item.MaNXB })"> @item.TenNXB</a></div>
}
<div class="itemNXB"><i class="fa fa-book"></i><a href="@Url.Action("DanhMucNXB")"> Nhà xuất bản khác...</a></div>

