﻿@using DoAnCoSo.Models;
@model List<Sach>
<link href="~/Content/TrangChu.css" rel="stylesheet" />

@{
    ViewBag.Title = "SachTheoNXB";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<div id="divBody">
    @{int i = 0; }
    @foreach (var item in Model)
    {
        i++;
        <div id="SanPham">
            <a href="@Url.Action("XemChiTiet", "Sach", new { @MaSach=item.MaSach })">  <div id="AnhBia"><img src="@Url.Content("~/HinhAnh/AnhSach/"+item.AnhBia)" width="100" height="150" /></div></a>
            <div id="ThongTin">
                @*Nếu tên sách dài hơn 30 ký tự thì chúng ta sẽ cắt tên sách ra lấy từ ký tự 0 đến ký tự 35*@
                @if (item.TenSach.Length < 35)
                {
                    <div id="TenSach" title="@item.TenSach">@item.TenSach.</div>
                }
                else
                {
                    <div id="TenSach" title="@item.TenSach"> @item.TenSach.Substring(0, 35) ...</div>
                }
            </div>
        </div>
        if (i % 3 == 0)
        {
            <div style="clear:both"></div>
        }
    }

</div>

